<form role="form" #myForm="ngForm" accept-charset="UTF-8" novalidate>
  <div class="form-group has-feedback" 
        [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
    <ckeditor [(ngModel)]="content" 
              #myckeditor="ngModel"
              name="myckeditor"
              required
              [config]="ckeConfig" 
              debounce="500" 
              (change)="onCkeChange($event)">
    </ckeditor>
    <div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block">Required field.</div>
  </div>
  <button (click)='save();' [disabled]="myForm.invalid" class="btn btn-primary">Save</button>
  <button (click)='restore();' [disabled]='saved.length == 0' class="btn btn-primary">restore</button>
  </form>
  <div [innerHTML]="mycontent"></div>